<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Sheets Api</title>
</head>
<body>
    
    <h1>Add Data to Google Sheets</h1>

    <form action="" method="POST">
        <div>
            <label for="title">Título</label>
            <input type="text" name="title" id="title">
        </div>

        <div>
            <label for="estado">Estado</label>
            <input type="text" name="estado" id="estado">
        </div>

        <div>
            <label for="formador">Formador</label>
            <input type="text" name="formador" id="formador">
        </div>

        <button type="submit">Submit</button>
    </form>

  
</body>
</html>